1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to 
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT

# Comparison Operators 

In this lecture we will be learning about Comparison Operators in Python. These operators will allow us to compare variables and output a Boolean value (True or False). 

If you have any sort of background in Math, these operators should be very straight forward.

First we'll present a table of the comparison operators and then work through some examples:

<h2> Table of Comparison Operators </h2><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [1]:
2+2

4

In [2]:
7 % 3

1

In [3]:
9 % 8

1

In [4]:
8 % 9

8

In [5]:
# Arithmetic operators
a = 10
b = 5

add_result = a + b
sub_result = a - b
mult_result = a * b
div_result = a / b
floor_div_result = a // b
modulus_result = a % b

exponent_result = a ** b

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [ ]:
print(hello) # error hello is not defined

NameError: name 'hello' is not defined

In [7]:
age = 40
gpa = 4.9
name = "DAVEWORLD"

In [ ]:
# using comma separator
print("My name is ", name)

My name is  DAVEWORLD

In [9]:
print("My name is name")

My name is name

In [10]:
# using concatination
print("My name is " + name )

My name is DAVEWORLD

In [11]:
print("My age is " + age)

TypeError: can only concatenate str (not "int") to str

In [12]:
age_string  = str(age)

In [13]:
type(age)

int

In [14]:
type(age_string)

str

In [15]:
print("My age is " + age_string)

My age is 40

In [16]:
num1 = "10"
num2 = "20"

In [17]:
num1 + num2

'1020'

In [18]:
# using the f formart
print(f"My name is {name} and my age is {age}")

My name is DAVEWORLD and my age is 40

## Comparison Operators

In [23]:
a = 10
b = 20

In [24]:
print(a)
print(b)

10
20

In [25]:
a == b

False

In [26]:
a != b

True

In [27]:
# greater than >
a > b

False

In [28]:
a < b

True

## Logical Operators

In [30]:
x = True
y = True

In [32]:
# and operator
x and y

True

In [33]:
X=False
Y=True

result =X and Y
print(result)

False

In [34]:
X=False
Y=True

result =X or Y
print(result)

True

In [35]:
# not operator
X = False
not X

True

# Chained Comparison Operators

An interesting feature of Python is the ability to *chain* multiple comparisons to perform a more complex test. You can use these chained comparisons as shorthand for larger Boolean Expressions.

In [37]:
(1 > 2) and (2 < 3)
# 1 > 2 = False
# 2 < 3 = True
# False and True = False

False

In [38]:
(1 > 2) or (2 < 3)
# 1 > 2 = False
# 2 < 3 = True
# False or True = True

True

In [39]:
1==1 and 100!=1

True

In [40]:
1=="1" and 100!=1

False

In [41]:
1 == "1"

False